
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Allow public read access to yachts and metadata for browsing.
    match /yachts/{yachtId} {
      allow read: if true;
      allow write: if false; // Disallow public writes
    }

    match /metadata/{docId} {
      allow read: if true;
      allow write: if false; // Disallow public writes
    }

    // By default, deny all other access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
